.Loading__container {
    background-color: #1f434c;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    color: #f0f8f4;
}

.Loading__text {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background-color: #002e39;
}

.Loading__icon--complete,
.Loading__icon--delete {
    height: 21px;
    width: 21px;
    background-color: #002e39;
}

.Loading__icon--complete {
    position: absolute;
    left: 24px;
}

.Loading__icon--delete {
    position: absolute;
    right: 24px;
}

.Loading__container,
.Loading__icon--complete,
.Loading__icon--delete {
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}